<div>

    <h2>Using CurrencyPipe</h2>
   
    <p>Price: {{ price | currency }}</p>
   
    <p>Price: {{ price | currency : "EUR" : "symbol-narrow" : "4.2-2" }}</p>
   
   </div>
   
   <div>
   
     <h2>Using DatePipe</h2>
   
     <p>Current date: {{ currentDate | date }}</p>
   
     <p>Current date: {{ currentDate | date:'fullDate' }}</p>
   
     <p>Current date: {{ currentDate | date:'short' }}</p>
   
    </div>
   
    <div>
   
     <h2>Using JsonPipe</h2>
   
     <pre>{{ myObject | json }}</pre>
   
    </div>
   
    <div>
   
     <h2>Using LowerCasePipe</h2>
   
     <p>Original String: {{ myString }}</p>
   
     <p>Lowercased String: {{ myString | lowercase }}</p>
   
     <p>Uppercased String: {{ myString | uppercase }}</p>
   
     <p>Titlecased String: {{ myString | titlecase }}</p>
   
    </div>
   
    <div>
   
     <h2>Using PercentPipe</h2>
   
     <p>Original Number: {{ myNumber }}</p>
   
     <p>Percentage Value: {{ myNumber | percent }}</p>
   
    </div>
   
    <div>
   
     <h2>Using custom FilterPipe</h2>
   
     <p>Object: {{ arrObj | pipeEx:'fname':'Sachin' | json }}</p>
   
    </div>
    <div>
      <input type="checkbox" [(ngModel)]="isChecked">
      @if(isChecked)
      {
        <p>Hello:{{arrObj | pipeEx:'fname':'sachin' | json}}</p>
      }
      @else
      {
        <p>Hey:{{arrObj | pipeEx:'lname':'tendulkar' | json}}</p>
      }
    </div>
